
body {
  background: url(https://lh3.ggpht.com/OkVYWtZttZnU2IRhJz7dLo85DVnmZc2vnLNZk1S1tTJiT1_BumBTEMG5ayfSObiEBmw=w300) no-repeat 50% 20% fixed;
  background-size: auto;
  background-position: left;
}
