button {
    background-color: black;
    color: #fff;
    font-size: 15px;
}
#game-buttons {
    width: 50%;
    margin-right: -100px;
}
#user-info {
    margin-left: 25%;
    margin-right: 25%;
}
#game-view {
    margin-left: 25%;
    margin-right: 25%;
}
.homebuttons {
    margin-left: 37%;
    margin-right: 26%;
    h3 {
        font-family: 'Walter Turncoat', cursive;
        font-size: 20px;
        text-align: center;
        margin-left: -26%;
    }
}
#restart,
#start {
    border-radius: 15px;
    background-color: red;
    height: 50px;
    width: 63%;
    font-family: 'Walter Turncoat', cursive;
    &:hover {
        transform: scale(1.2);
    }
}
#start {
  margin-left: 4%;
}
#restart {
    margin-left: 21%;
    margin-top: -12%;
}
#buttonrender {
    margin-left: -16%;
    button {
        border-radius: 15px;
        background-color: black;
        color: #a9a9a9;
        font-size: 16px;
        color: white;
        font-family: 'Walter Turncoat', cursive;
        padding-right: 5px;
    }
}
#Small:hover {
    transform: scale(1.1);
}
#Large:hover {
    transform: scale(1.1);
}
#Gargantuan:hover {
    transform: scale(1.1);
}
#game-view button {
    margin-left: 10px;
    border-radius: 15px;
    color: white;
    font-family: 'Walter Turncoat', cursive;
    height: 40px;
    width: 40%;
}
.playbuttons {
    margin-left: 93px;
    margin-top: -11%;

}
