#xaxis,
#yaxis {
    font-size: 25px;
    text-align: center;
}
#game-over {
    margin-left: 25%;
    margin-right: 25%;
    h2 {
        font-size: 70px;
        text-shadow: none;
        color: red;
    }
    h3 {
        font-size: 45px;
        text-align: center;
    }
    ul {
        list-style-type: none;
        display: inline-flex;
    }
}
#up:hover {
    color: #a2da2f;
}
#down:hover {
    color: #a2da2f;
}
#left:hover {
    color: #a2da2f;
}
#right:hover {
    color: #a2da2f;
}
#highscorelist {
    width: 100%;
    margin-right: 25px;
    margin-left: 15px;
    overflow: scroll;
    border: solid 1px black;
}
#grid {
    background-color: #000000;
    border: solid 3px black;
    display: block;
    margin-left: 10px;

}
.row {
    display: inline-block;
    margin: 0 auto;
    line-height: 0;
}
.cell {
    display: inline-block;
    width: 56px;
    height: 35px;
    line-height: 0;
    border: solid #fff 1px;
}
#player {
    background-color: #d4ff2a;
}
#energy {
  font-size: 20px;
}
#energyboost {
  background-color: red;
}
