.hidden {
    display: none;
}
#input {
    width: 100%;
    font-size: 31px;
    text-align: center;
    border-radius: 15px;
    margin-top: -22px;
    background-color: #000;
    font-family: 'Walter Turncoat', cursive;
    color: white;
}
