button {
  background-color: black;
  color: #fff;
  font-size: 15px; }

#game-buttons {
  width: 50%;
  margin-right: -100px; }

#user-info {
  margin-left: 25%;
  margin-right: 25%; }

#game-view {
  margin-left: 25%;
  margin-right: 25%; }

.homebuttons {
  margin-left: 37%;
  margin-right: 26%; }
  .homebuttons h3 {
    font-family: 'Walter Turncoat', cursive;
    font-size: 20px;
    text-align: center; }

#restart, #start {
  border-radius: 15px;
  background-color: red;
  height: 50px;
  width: 63%;
  margin-left: 17%;
  font-family: 'Walter Turncoat', cursive; }
  #restart:hover, #start:hover {
    transform: scale(1.2); }

#buttonrender {
  margin-left: -16px; }
  #buttonrender button {
    border-radius: 15px;
    background-color: black;
    color: #a9a9a9;
    font-size: 16px;
    color: white;
    font-family: 'Walter Turncoat', cursive; }

#Small:hover {
  transform: scale(1.1); }

#Large:hover {
  transform: scale(1.1); }

#Gargantuan:hover {
  transform: scale(1.1); }

#game-view button {
  margin-left: 10px;
  border-radius: 15px;
  color: white;
  font-family: 'Walter Turncoat', cursive;
  height: 40px;
  width: 40%; }

.playbuttons {
  margin-left: 93px; }

h2 {
  margin-top: 0;
  text-align: center;
  font-size: 120px;
  font-family: 'Chewy', cursive;
  text-shadow: 7px 13px #000;
  color: #a2da2f; }

.hidden {
  display: none; }

#input {
  width: 100%;
  font-size: 31px;
  text-align: center;
  border-radius: 15px;
  margin-top: -20px;
  background-color: #000;
  font-family: 'Walter Turncoat', cursive;
  color: white; }

body {
  background: url(https://lh3.ggpht.com/OkVYWtZttZnU2IRhJz7dLo85DVnmZc2vnLNZk1S1tTJiT1_BumBTEMG5ayfSObiEBmw=w300) no-repeat 50% 20% fixed;
  background-size: auto;
  background-position: left; }

#xaxis,
#yaxis {
  font-size: 25px;
  text-align: center; }

#game-over {
  margin-left: 25%;
  margin-right: 25%; }
  #game-over h2 {
    font-size: 70px;
    text-shadow: none;
    color: red; }
  #game-over h3 {
    font-size: 45px;
    text-align: center; }
  #game-over ul {
    list-style-type: none;
    display: inline-flex; }

#up:hover {
  color: #a2da2f; }

#down:hover {
  color: #a2da2f; }

#left:hover {
  color: #a2da2f; }

#right:hover {
  color: #a2da2f; }

#highscorelist {
  width: 100%;
  margin-right: 25px;
  margin-left: 15px;
  overflow: scroll;
  border: solid 1px black; }

#grid {
  background-color: #000000;
  border: solid 3px black;
  display: block;
  margin-left: 10px; }

.row {
  display: inline-block;
  margin: 0 auto;
  line-height: 0; }

.cell {
  display: inline-block;
  width: 56px;
  height: 35px;
  line-height: 0;
  border: solid #fff 1px; }

#player {
  background-color: #d4ff2a; }

#energy {
  font-size: 20px; }

#energyboost {
  background-color: red; }
